@import "./animation.scss";
html,
body {
    margin: 0;
    padding: 0;
}

#app {
    width: 100vw;
    height: 100vh;
    background-color: rgb(69, 110, 223);
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}